<template>
    <div>
        <h1>Weather forecast</h1>

        <p>This component demonstrates fetching data from the server.</p>

        <table class="table" v-if="blogs.length">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>PostDate</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in blogs">
                    <td>{{ item.id }}</td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.postDate }}</td>
                </tr>
            </tbody>
        </table>

        <p v-else=""><em>Loading...</em></p>
    </div>
</template>

<script src="./blog.ts"></script>
