<template>
    <nav class="navbar is-dark">
        <div class="navbar-brand">
            <a class="navbar-item" href="#">
                GoJonesy
            </a>
            <div class="navbar-burger burger" data-target="navbarMain">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div id="navbarMain" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="#">
                    <span class="icon"><i class="fas fa-home"></i></span> Home
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        <span class="icon"><i class="fas fa-code"></i></span> Projects
                    </a>
                    <div class="navbar-dropdown is-boxed">
                        <ul>
                            <li><router-link to="/fetchdata"><span class="icon"><i class="fas fa-sun"></i>
                                    </span> Fetch data
                                </router-link>
                            </li>
                            <li>
                                <router-link to="/counter"><span class="icon"><i class="fas fa-hashtag"></i>
                                    </span> Counter
                                </router-link>
                            </li>
                            <li>
                                <router-link to="/todos"><span class="icon"><i class="fas fa-check"></i>
                                    </span> TODO list
                                </router-link>
                            </li>
                        </ul>  
                    </div>
                </div>
                <router-link to="/blog" class="navbar-item">
                    <span class="icon"><i class="fas fa-pencil-alt"></i></span> Blog
                </router-link>
            </div>
        </div>
    </nav>
</template>  
<!--<style src="./navmenu.css" />-->
